@charset "utf-8";
/* CSS Document */
html, body 
{
	background-color: #2980b9;
	margin: 0;
	padding: 0;
	height:2000px;
}
header 
{
	box-shadow: 0px 1px 0px 2px #305030;
	-webkit-box-shadow: 0px 1px 0px 2px #305030;
	height: 70px;
	width: 100%;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	position:fixed;
	z-index:0;
	text-align:center;
	color: #ffffff; 
	background-color: #3498db;
}
h1 {
	font-size: 50px;
}
#longshadow {
	height: 100%;
	width: 100%;
	margin-bottom:0px;
	margin-top: 5px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px rgb(43, 126, 182), 2px 2px rgb(43, 126, 182), 3px 3px rgb(43, 126, 182), 4px 4px rgb(43, 126, 182), 5px 5px rgb(43, 127, 184), 6px 6px rgb(44, 129, 186), 7px 7px rgb(44, 131, 189), 8px 8px rgb(45, 132, 191), 9px 9px rgb(46, 134, 194), 10px 10px rgb(46, 136, 196), 11px 11px rgb(47, 138, 199), 12px 12px rgb(47, 139, 201), 13px 13px rgb(48, 141, 204), 14px 14px rgb(49, 143, 206), 15px 15px rgb(49, 145, 209), 16px 16px rgb(50, 146, 211), 17px 17px rgb(50, 148, 214), 18px 18px rgb(51, 150, 216), 19px 19px rgb(52, 152, 219);}
.flex-container {
	padding: 0;
	margin:0;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box-flex;
	display: flex;
	flex-direction:row
	-webkit-flex-flow:row;
	margin-top:20px;
	position:fixed;
	width:100%;
	justify-content:center;
}
.flex-item {
	background-color: #3498db;
  	padding: 0px;
 	margin: 0px;
 	width: 150px;
 	height: 50px;
 	line-height: 38px;
 	color: white;
 	font-weight: bold;
 	font-size: 2em;
  	text-align: center;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px rgb(43, 126, 182), 2px 2px rgb(43, 126, 182), 3px 3px rgb(43, 126, 182), 4px 4px rgb(43, 126, 182), 5px 5px rgb(43, 127, 184), 6px 6px rgb(44, 129, 186), 7px 7px rgb(44, 131, 189), 8px 8px rgb(45, 132, 191), 9px 9px rgb(46, 134, 194), 10px 10px rgb(46, 136, 196), 11px 11px rgb(47, 138, 199), 12px 12px rgb(47, 139, 201), 13px 13px rgb(48, 141, 204), 14px 14px rgb(49, 143, 206), 15px 15px rgb(49, 145, 209), 16px 16px rgb(50, 146, 211), 17px 17px rgb(50, 148, 214), 18px 18px rgb(51, 150, 216), 19px 19px rgb(52, 152, 219);}
#m1 {
	border-bottom-left-radius:15px;
}
#m2 {
}
#m3 {
	border-bottom-right-radius:15px;
}
#m1:hover {
	text-shadow:none;
}
#m2:hover {
	text-shadow:none;
}
#m3:hover {
	text-shadow:none;
}