		body {
			text-align: center;
		}
		
		#page {
			width: 960px;
			text-align: left;
			margin: 10px auto 20px auto;
			
		}
		
		#clientblock {
			float: left;
			width: 450px;
			/*
			border: 1px solid #000 
			*/
		}
		
		#presentblock {
			float: right;
			width: 450px;
			/*
			border: 1px solid #f00;
			*/
			padding: 10px;
		}
