html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding:0px;
	background-color:#2B313B;
}
body {
	position:relative;	
}
header {
	width: 100%;
	height: 80px;
	padding: 0px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #1F232A;
	margin: 0 0 50px 0;
	-webkit-box-shadow: 0px 0px 9px;
	box-shadow: 0px 0px 9px;
}
a {
color: #D0D0D0;
text-decoration: none;
}
#sellhub {
	text-align: center;
	max-width: 30%;
	min-width: 15%;
	display: block;
	float: left;
	margin: 0 0 0 20px;
	color:#FF6700;
}
#menu {
	height:70px;
	margin: 0px;
	padding:0px;
	width:auto%;
	margin: 0 20px 0 0;
	display:block;
	float:right;
}
.menuB {
	text-align: center;
	width: auto;
	float: right;
	display:block;
	margin-left: 10px;
	margin-right: 10px;
	transition: 0.2s;
	-webkit-transition: 0.1s;
	color:#858585;
}
.menuB:hover {
	color:#E9E9E9;
}
#clients {
	
}
#products {

}
#deals {
	
}

#tableholder {
	text-align:center;	
}

table {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:75%;
}
thead {
	color: #E9E9E9;
}
button {
	width: 100%;
	height: 100%;
	background-color: #2E3440;
	color: #D0D0D0;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	border-bottom: none;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
}
button:hover{
	color:#FFFFFF;
	transition: 0.15s;
}
table {
	background: #2E3440;
	font-size: 18px;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}	
tr {

}
th {
	padding: 10px 8px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
}
td {
	padding: 10px 8px;
	position: relative;
	transition: 0.15s;
	color:#D0D0D0;
}
tr:nth-child(odd) td {
	background: #3F4857;	
}

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #959595;
}

tbody:hover tr:hover td {
	color: #CECECE;
	text-shadow: 0 1px 0 #000000;
}
tbody tr:nth-child(2n) {
  background:#495364;
}
.overlay {
	margin-left: auto;
	margin-right: auto;
	max-height: 95%;
	position: absolute;
	top: 5%;
	left: 20%;
	right: 20%;
	background-color: #FC0003;
	text-align: center;
	z-index: 11;
	color: #EDE9E0;
	font-size: 24px;
	visibility: hidden;
}
.blackout {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
	visibility:hidden;
	cursor: pointer;
}

.Oname {
	background-color: #545454;
	position: relative;
	padding: 10px;
	}
.Opicture {
	background-color: #F5764B;
	padding: 10px;
}
.Ochar {
	background-color: #EDE9E0;
	color: #78766F;
	padding: 10px;
}
.Ofoot {
	background-color: #435C72;
	padding: 10px;
}
#showO {
	height:30px;
	width:70px;	
	position: absolute;
	left: 0;
	top: 0;

}

#normalbutton {
	height:45px;
	width:100px;	
}

#normalbutton2 {
	height:45px;
	width:110px;	
}
