{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
    <title>{% block title %}Gorito the Sellhub{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static "assets/css/client.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "assets/css/style1.css" %}">
<script src="{% static "assets/js/jquery-2.1.1.min.js" %}"></script>
<script>

$(document).ready(function(){
     $("#sellhub, .flex-container").mouseover(function(){
         $(".flex-container").css("margin-top", "70px");
		 $(".flex-container").css("z-index", "1"); 
		 $(".flex-container").css("transition", "0.2s");
		 $(".flex-item").css("box-shadow", "0px 2px 0px 0px #305030");
		 $(".flex-item").css("-webkit-box-shadow", "0px 2px 0px 0px #305030");
		 $(".flex-item").css("transition", "0.2s");
     });
	 $("#sellhub, .flex-container").mouseout(function(){
		 $(".flex-container").css("margin-top", "20px");
		 $(".flex-container").css("z-index", "-1"); 
		 $(".flex-container").css("transition", "0.5s");
		 $(".flex-item").css("box-shadow", "none");
		 $(".flex-item").css("-webkit-box-shadow", "none");
		 $(".flex-item").css("transition", "0.5s");
	 });
});
</script>
</head>
<body>
  <ul class="flex-container">
  <li class="flex-item" id="m1" onClick="location.href='client'">Client</li>
  <li class="flex-item" id="m2" onClick="location.href='present.html'">Present</li>
  <li class="flex-item" id="m3" onClick="location.href='stats.html'">Stats</li>
</ul>
<header id="sellhub">
  <h1 id="longshadow">SellHub</h1>
</header> 
!!<br />
!!<br />
!!<br />
!!<br />
!!<br />
!!<br />
!!<br />
!!<br />
!!<br />
!!<br />
!!<br />

<hr>

<div id="page">
<div id="clientblock" class="container">

{% block clientblock %}
<table cellspacing="1" border="1px">             
    <thead>
        <tr> 
            <th>Name</th> 
            <th>Address</th> 
            <th>Company</th> 
            <th>Finances</th> 
            <th>Goods category <br>(click and get)</th> 
        </tr> 
    </thead> 

{% for post in clients %}
    <tbody> 
        <tr> 
            <td>A {{ post.name1 }}</td> 
            <td>B {{ post.addre1 }}</td> 
            <td>C {{ post.company1 }}</td> 
            <td>$ {{ post.finances1 }}</td> 
            <td><a href="http://duckduckgo.com"> D {{ post.category1 }} </a> </td> 
        </tr> 
    </tbody> 
{% endfor %}
</table>
{% endblock %}
</div>



<div id="presentblock" class="container">
{% block presentblock %}This is the products block.

{% endblock %}
</div>


</div>
</body>
</html>
<!-- -->
