{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
    <title>{% block title %}Gorito the Sellhub{% endblock %}</title>
<link rel="shortcut icon" type="image/x-icon" href="{% static "assets/images/G.ico" %}" />
<link rel="stylesheet" type="text/css" href="{% static "assets/css/test.css" %}">
<script src="{% static "assets/js/jquery-2.1.1.min.js" %}"></script>
<script src="{% static "assets/js/jquery-latest.js" %}"></script>
<script src="{% static "assets/js/jquery.tablesorter.js" %}"></script>
<script src="{% static "assets/js/ajax.js" %}"></script>

<script>
function clientsGlow() {
$("#clients").css("color", "#E9E9E9");
$("#products").css("color", "#858585");
$("#deals").css("color", "#858585");
};
function dealsGlow() {
$("#clients").css("color", "#858585");
$("#products").css("color", "#858585");
$("#deals").css("color", "#E9E9E9");
};
function productsGlow() {
$("#clients").css("color", "#858585");
$("#products").css("color", "#E9E9E9");
$("#deals").css("color", "#858585");
};
</script>

<script>
{% for post in products_list %}
var addPicture = '<img src="apple.png">';
var addName = '{{ post.name2 }}';
var addDescription = '{{ post.descr }}';
var addFooter = '<h2>Price is over {{ post.price }}</h2>';
{% endfor %}

function showOverlay() {
	$(".overlay").css("visibility", "visible");
	$(".blackout").css("visibility", "visible");
	$('.Oname').html(addName);
	$('.Opicture').html(addPicture);
	$('.Ochar').html(addDescription);
	$('.Ofoot').html(addFooter);
};
function closeOverlay() {
	$(".overlay").css("visibility", "hidden");
	$(".blackout").css("visibility", "hidden"); 
};

function clientsGlow() {
	$("#clients").css("color", "#E9E9E9");
	$("#products").css("color", "#858585");
	$("#deals").css("color", "#858585");
};
function dealsGlow() {
	$("#clients").css("color", "#858585");
	$("#products").css("color", "#858585");
	$("#deals").css("color", "#E9E9E9");
};
function productsGlow() {
	$("#clients").css("color", "#858585");
	$("#products").css("color", "#E9E9E9");
	$("#deals").css("color", "#858585");
};


</script>

<script type="text/javascript" id="js">
	// $(document).ready(function() {
	// call the tablesorter plugin
	// $("table").tablesorter(); });

	$(function() {
		$("table")
			.tablesorter({widthFixed: true, widgets: ['zebra']})
			.tablesorterPager({container: $("#pager")});
	});	
</script>

</head>
<body>
<header>
	<div id="sellhub"><h1>SELLHUB</h1></div>
    <div id="menu">
<div id="deals" class="menuB" onClick="dealsGlow(), location.href='/deals'"><h1>DEALS</h1></a></div>
<div id="products" class="menuB" onClick="productsGlow(), location.href='/present'"><h1>PRODUCTS</h1></div>
<div id="clients" class="menuB" onClick="clientsGlow(), location.href='/client'"><h1>CLIENTS</h1></div>       
	</div>
</header>

<button id="showO" onClick="showOverlay()">Show Overlay</button>

<div class="overlay">
	<div class="Oname"></div>
    <div class="Opicture"></div>
    <div class="Ochar"></div>
    <div class="Ofoot"></div>
</div>
<div class="blackout" onClick="closeOverlay()" ></div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div id="page">
<div id="tableholder" class="container">

{% block clientblock %}

{% endblock %}
</div>


<div id="tableholder" class="container">
{% block presentblock %}

{% endblock %}
</div>

<script src="{% static "assets/js/jquery.tablesorter.pager.js" %}"></script>

</div>
</body>
</html>
<!-- -->
