{% if products.count > 0 %}

{% for article in products %}
    <li><a href="{{ article.object.get_absolute_url }}">{{ article.object.name2 }}</a></li>
{% endfor %}

{% else %}

<li>None to show!</li>

{% endif %}