{% extends "index.html" %}

{% block presentblock %}

<form action="" method="post">{% csrf_token %}
<table>
<!-- ask form to render as p/ul/table/etc -->
{{ form.as_table }} 
</table>
<button type="submit" id="normalbutton2" name="submit">Create new category</button>
</form>
<form method="get" action="/present/createproduct">
    <button type="submit">Cancel</button>
</form>


{% endblock %}


