{% extends "index.html" %}
{% load static %}

{% block clientblock %}

<table cellspacing="1" class="tablesorter">             
    <thead>
        <tr> 
            <th>(Updating <br>information)</th> 
            <th>Name</th> 
            <th>Address</th> 
            <th>Company</th> 
            <th>Finances</th> 
            <th>Goods category <br>(click & get)</th> 
        </tr> 
    </thead> 
    <tbody>
{% for post in clients %}
 
        <tr> 
            <td><a class="btn btn-default" href="{% url 'editclient' pk=post.id %}"><span class="glyphicon glyphicon-pencil">EDIT</span></a></td> 
			<td>{{ post.name1 }}</td> 
            <td>{{ post.addre1 }}</td> 
            <td>{{ post.company1 }}</td> 
            <td>{{ post.finances1 }}</td> 
            <td><a href="/present/">{{ post.category1 }} </a> </td> 
        </tr> 
    
{% endfor %}
</tbody> 
</table>

<div id="pager" class="pager">
	<form>
		<img src="{% static "assets/images/first.png" %}" class="first"/>
		<img src="{% static "assets/images/prev.png" %}" class="prev"/>
		<input type="text" class="pagedisplay"/>
		<img src="{% static "assets/images/next.png" %}" class="next"/>
		<img src="{% static "assets/images/last.png" %}" class="last"/>
		<select class="pagesize">
			<option selected="selected"  value="1">1</option>
			<option value="3">3</option>
		</select>
	</form>
</div>
<br>
<button type="submit" id="normalbutton" onClick="location.href='/client/createclient'">Create new client</button>

{% endblock %}
