{% extends "index.html" %}
{% load static %}

{% block presentblock %}

<table cellspacing="1" class="tablesorter">             
    <thead>
        <tr> 
            <th>Name of client</th>  
            <th>Date and time</th> 
            <th>Product</th> 
            <th>Amount</th> 
            <th>Price</th> 
        </tr> 
    </thead> 
    <tbody> 
{% for post in deals %}

        <tr> 
            <td>{{ post.name3 }}</td> 
            <td>{{ post.date }}</td> 
            <td>{{ post.prod }}</td> 
            <td>{{ post.amount }}</td> 
            <td>{{ post.price }}</td> 
        </tr> 
		
{% endfor %}
</tbody> 
</table>

<div id="pager" class="pager">
	<form>
		<img src="{% static "assets/images/first.png" %}" class="first"/>
		<img src="{% static "assets/images/prev.png" %}" class="prev"/>
		<input type="text" class="pagedisplay"/>
		<img src="{% static "assets/images/next.png" %}" class="next"/>
		<img src="{% static "assets/images/last.png" %}" class="last"/>
		<select class="pagesize">
			<option selected="selected"  value="1">1</option>
			<option value="3">3</option>
		</select>
	</form>
</div>
<br>
<form method="get" action="/deals/newdeal">
    <button type="submit">Sell one another product</button>
</form>

{% endblock %}