{% extends "index.html" %}

{% block presentblock %}

<form action="/deals/newdeal/" method="post">{% csrf_token %}
<table>
<!-- ask form to render as p/ul/table/etc -->
{{ form.as_table }} 
</table>
<button type="submit" id="normalbutton" name="submit">Make a deal</button>
</form>
<form method="get" action="/present">
    <button type="submit">Cancel</button>
</form>


{% endblock %}


