{% extends "index.html" %}

{% block clientblock %}

<form action="" method="post">{% csrf_token %}
<table>
<!-- ask form to render as p/ul/table/etc -->
{{ form.as_table }} 
</table>
<button type="submit" id="normalbutton" name="submit">Save changes</button>
</form>
<form method="get" action="/client">
    <button type="submit" >Cancel</button>
</form>


{% endblock %}


