<!DOCTYPE html>
 
<html lang="en">
 
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <title>Xydo!</title>
</head>
 
<body>
 
<div class="container">
    <h1>Hello world xD</h1>


<table cellspacing="1" border="1px">             
    <thead>
        <tr> 
            <th>Name</th> 
            <th>Address</th> 
            <th>Company</th> 
            <th>Finances</th> 
            <th>Goods category <br>(click and get product table)</th> 
        </tr> 
    </thead> 

{% for post in clients %}
    <tbody> 
        <tr> 
            <td>A {{ post.name1 }}</td> 
            <td>B {{ post.addre1 }}</td> 
            <td>C {{ post.company1 }}</td> 
            <td>$ {{ post.finances1 }}</td> 
            <td><a href="http://duckduckgo.com"> D {{ post.category1 }} </a> </td> 
        </tr> 
    </tbody> 
{% endfor %}

</table>
</div>
 
</body>
     
</html>

