{% extends "index.html" %}
{% load static %}

{% block presentblock %}

<table cellspacing="1" class="tablesorter">             
    <thead>
        <tr> 
            <th>(Updating <br>information)</th> 
            <th>Category</th>  
            <th>Name of product</th> 
            <th>Description</th> 
            <th>Main characteristics</th> 
            <th>Price</th> 
        </tr> 
    </thead> 
    <tbody> 
{% if products_list %}
    {% for category in products_list %}
        <tr> 
            <td><a class="btn btn-default" href="{% url 'editproduct' pk=category.id %}"><span class="glyphicon glyphicon-pencil">EDIT</span></a></td> 
            <td>
<form method="post" action="">{% csrf_token %}
	<button name="category" value="{{ category.id }}" type="submit">{{ category.category2 }}</button>
</form>
			</td>
            <td>
	<button name="category" value="{{ category.id }}" onClick="showOverlay()">{{ category.name2 }}</button>
			</td>
            <td>{{ category.descr }}</td> 
            <td>{{ category.charact }}</td> 
            <td>{{ category.price }}</td> 
        </tr> 
	{% endfor %}
    </tbody> 
{% else %}
    <tbody> 
        <tr> 
            <td colspan="5"><h2>No products available in that category</h2></td>    
        </tr> 
    </tbody> 
{% endif %}
</table>

<!-- {% if category_list %}
    <ul>
    {% for article in category_list %}
        <li>//{{ article.id }} - {{ article.category }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No category_list available in that category</p>
{% endif %}
 -->

<div id="pager" class="pager">
	<form>
		<img src="{% static "assets/images/first.png" %}" class="first"/>
		<img src="{% static "assets/images/prev.png" %}" class="prev"/>
		<input type="text" class="pagedisplay"/>
		<img src="{% static "assets/images/next.png" %}" class="next"/>
		<img src="{% static "assets/images/last.png" %}" class="last"/>
		<select class="pagesize">
			<option selected="selected" value="1">1</option>
			<option value="3">3</option>
			<option value="5">5</option>
			<option value="7">7</option>
		</select>
	</form>
</div>

<br>
<form method="get" action="/present">
    <button type="submit" >All products</button>
</form>
<form method="get" action="/present/createproduct">
    <button type="submit" id="normalbutton2">Create new product</button>
</form>

{% endblock %}