{% extends "index.html" %}
{% load static %}

{% block presentblock %}

{% for product in products %}

<a href="/present/get/{{ product.id }}/">{{ product.category2 }}</a>||

{% endfor %}

<h3>Search</h3>
{% csrf_token %}
<input type="text" id="search" name="search" />

<ul id="search-results">
{% if products %}

{% for article in products %}
    <li><a href="{{ article.object.get_absolute_url }}">{{ article.category2 }} - {{ article.name2 }}</a></li>
{% endfor %}

{% else %}

<li>None to show!</li>

{% endif %}
</ul>



<table cellspacing="1" class="tablesorter">             
    <thead>
        <tr> 
            <th>Category</th>  
            <th>Name of product</th> 
            <th>Description</th> 
            <th>Main characteristics</th> 
            <th>Price</th> 
        </tr> 
    </thead> 
    <tbody> 
{% for post in products %}
        <tr> 
            <td>{{ post.category2 }}</td> 
            <td>{{ post.name2 }}</td> 
            <td>{{ post.descr }}</td> 
            <td>{{ post.charact }}</td> 
            <td>{{ post.price }}</td> 
        </tr> 
{% endfor %}
    </tbody> 
</table>

<div id="pager" class="pager">
	<form>
		<img src="{% static "assets/images/first.png" %}" class="first"/>
		<img src="{% static "assets/images/prev.png" %}" class="prev"/>
		<input type="text" class="pagedisplay"/>
		<img src="{% static "assets/images/next.png" %}" class="next"/>
		<img src="{% static "assets/images/last.png" %}" class="last"/>
		<select class="pagesize">
			<option selected="selected"  value="1">1</option>
			<option value="3">3</option>
		</select>
	</form>
</div>
<br>
<form method="get" action="/present/createproduct">
	<button type="submit" id="normalbutton" name="submit">Create new product</button>

</form>

{% endblock %}