{% extends "index.html" %}
{% load static %}

{% block presentblock %}
<form method="post" action="">{% csrf_token %}
{% if products_list %}
    <select name="category">
    <option value="">-- Select a Category --</option>
    {% for category in products_list %}
        <option value="{{ category.id }}">{{ category.category2 }} - {{ category.name2 }}</option>
    {% endfor %}
    </select>
	<input type="submit" value="Filter" /> 
{% endif %}
</form>

<form>
<input type="button" value="Back" onClick="history.go(-1);return true;">
</form>

<table cellspacing="1" class="tablesorter">             
    <thead>
        <tr> 
            <th>Category</th>  
            <th>Name of product</th> 
            <th>Description</th> 
            <th>Main characteristics</th> 
            <th>Price</th> 
        </tr> 
    </thead>
	
{% if products_list %}
    <tbody> 
    {% for article in products_list %}
        <tr> 
            <td>{{ article.category2 }}</td> 
            <td>{{ article.name2 }}</td> 
            <td>{{ article.descr }}</td> 
            <td>{{ article.charact }}</td> 
            <td>{{ article.price }}</td>    
        </tr> 
	{% endfor %}
    </tbody> 
{% else %}
    <tbody> 
        <tr> 
            <td colspan="5"><h2>No articles available in that category</h2></td>    
        </tr> 
    </tbody> 
{% endif %}
</table>
	
<div id="pager" class="pager">
	<form>
		<img src="{% static "assets/images/first.png" %}" class="first"/>
		<img src="{% static "assets/images/prev.png" %}" class="prev"/>
		<input type="text" class="pagedisplay"/>
		<img src="{% static "assets/images/next.png" %}" class="next"/>
		<img src="{% static "assets/images/last.png" %}" class="last"/>
		<select class="pagesize">
			<option selected="selected"  value="1">1</option>
			<option value="3">3</option>
		</select>
	</form>
</div>

<br>
<form method="get" action="/present/gett">
    <button type="submit">All products</button>
</form>
<form method="get" action="/present/createproduct">
    <button type="submit">Create new product</button>
</form>


{% endblock %}