{% extends "index.html" %}

{% block presentblock %}
<table cellspacing="1" class="tablesorter">             
    <thead>
        <tr> 
            <th>Category</th>  
            <th>Name of product</th> 
            <th>Description</th> 
            <th>Main characteristics</th> 
            <th>Price</th> 
        </tr> 
    </thead>
	
    <tbody> 
        <tr> 
            <td>{{ products.category2 }}</td> 
            <td>{{ products.name2 }}</td> 
            <td>{{ products.descr }}</td> 
            <td>{{ products.charact }}</td> 
            <td>{{ products.price }}</td> 
        </tr> 
    </tbody>


{% for post in products %}
    <tbody> 
        <tr> 
            <td>{{ post.category2 }}</td> 
            <td>{{ post.name2 }}</td> 
            <td>{{ post.descr }}</td> 
            <td>{{ post.charact }}</td> 
            <td>{{ post.price }}</td> 
        </tr> 
    </tbody> 
{% endfor %}

	
</table>
{% endblock %}