{% extends "index.html" %}

{% block presentblock %}

<form action="/present/createproduct/" method="post">{% csrf_token %}
<table>
<!-- ask form to render as p/ul/table/etc -->
{{ form.as_table }} 
</table>
<button type="submit" id="normalbutton2" name="submit">Create new product</button>
</form>
<form method="get" action="/present/createcat">
<button type="submit" id="normalbutton2" name="submit">Add category</button>
</form>
<form method="get" action="/present">
    <button type="submit">Cancel</button>
</form>


{% endblock %}


